In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 

import warnings
warnings.filterwarnings('ignore')

In [2]:
box_scores = pd.read_csv('./data_frames/2020_2019_end_game_boxscores.csv')

In [3]:
box_scores.shape

(4276, 15)

In [4]:
box_scores.head()

,team,home_status,goals,shots,blocked_shots,penalty_minutes,power_play_percentage,power_play_goals,power_play_chances,faceoff_percent,takeaways,giveaways,hits,goal_diff,won
0,Pittsburgh Penguins,away,3,34,11,6,33.3,1.0,3.0,42.0,8,10,23,-3,no
1,Philadelphia Flyers,home,6,27,13,6,66.7,2.0,3.0,58.0,6,10,31,3,yes
2,Chicago Blackhawks,away,1,23,7,8,33.3,1.0,3.0,49.1,4,1,14,-4,no
3,Tampa Bay Lightning,home,5,33,12,6,50.0,2.0,4.0,50.9,4,1,16,4,yes
4,Montréal Canadiens,away,4,32,22,13,66.7,2.0,3.0,46.0,6,13,32,-1,no

In [5]:
model_2020 = pd.read_csv('./data_frames/2020_end_game_boxscores.csv')

In [6]:
model_2020.head()

,team,home_status,goals,shots,blocked_shots,penalty_minutes,power_play_percentage,power_play_goals,power_play_chances,faceoff_percent,takeaways,giveaways,hits,goal_diff,won
0,Pittsburgh Penguins,away,3,34,11,6,33.3,1.0,3.0,42.0,8,10,23,-3,no
1,Philadelphia Flyers,home,6,27,13,6,66.7,2.0,3.0,58.0,6,10,31,3,yes
2,Chicago Blackhawks,away,1,23,7,8,33.3,1.0,3.0,49.1,4,1,14,-4,no
3,Tampa Bay Lightning,home,5,33,12,6,50.0,2.0,4.0,50.9,4,1,16,4,yes
4,Montréal Canadiens,away,4,32,22,13,66.7,2.0,3.0,46.0,6,13,32,-1,no

In [7]:
game_id_list = []
for i in range(1,10):
    game_id_list.append(int(f'202002000{i}'))
    game_id_list.append(int(f'202002000{i}'))
for i in range(10,100):
    game_id_list.append(int(f'20200200{i}'))
    game_id_list.append(int(f'20200200{i}'))
for i in range(100,869):
    game_id_list.append(int(f'2020020{i}'))
    game_id_list.append(int(f'2020020{i}'))

In [8]:
model_2020['game_ids'] = game_id_list

In [9]:
model_2020

,team,home_status,goals,shots,blocked_shots,penalty_minutes,power_play_percentage,power_play_goals,power_play_chances,faceoff_percent,takeaways,giveaways,hits,goal_diff,won,game_ids
0,Pittsburgh Penguins,away,3,34,11,6,33.3,1.0,3.0,42.0,8,10,23,-3,no,2020020001
1,Philadelphia Flyers,home,6,27,13,6,66.7,2.0,3.0,58.0,6,10,31,3,yes,2020020001
2,Chicago Blackhawks,away,1,23,7,8,33.3,1.0,3.0,49.1,4,1,14,-4,no,2020020002
3,Tampa Bay Lightning,home,5,33,12,6,50.0,2.0,4.0,50.9,4,1,16,4,yes,2020020002
4,Montréal Canadiens,away,4,32,22,13,66.7,2.0,3.0,46.0,6,13,32,-1,no,2020020003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731,Vegas Golden Knights,home,4,29,17,10,25.0,1.0,4.0,42.9,9,2,25,3,yes,2020020866
1732,Colorado Avalanche,away,3,30,13,4,33.3,1.0,3.0,42.2,5,9,30,1,yes,2020020867
1733,Los Angeles Kings,home,2,18,12,6,0.0,0.0,2.0,57.8,1,7,23,-1,no,2020020867
1734,Arizona Coyotes,away,5,32,8,6,50.0,1.0,2.0,51.6,6,9,13,1,yes,2020020868
1735,San Jose Sharks,home,4,48,6,6,0.0,0.0,2.0,48.4,7,12,12,-1,no,2020020868

engineered features: ice tilt, corsi.

In [10]:
all_game_events = pd.read_csv('./data_frames/all_game_events_2020.csv')

In [11]:
all_game_events.drop(columns='Unnamed: 0', inplace=True)

In [12]:
all_game_events.shape

(264311, 9)

In [13]:
all_game_events.tail(5)

,event,team,x_coordinate,y_coordinate,period,period_time,game_id,score,home_team
264306,Goal,Arizona Coyotes,76.0,-15.0,4,02:30,2020020868,NaN,San Jose Sharks
264307,Period End,NaN,NaN,NaN,4,02:30,2020020868,NaN,San Jose Sharks
264308,Period Official,NaN,NaN,NaN,4,02:30,2020020868,NaN,San Jose Sharks
264309,Game End,NaN,NaN,NaN,4,02:30,2020020868,NaN,San Jose Sharks
264310,Game Official,NaN,NaN,NaN,4,02:30,2020020868,NaN,San Jose Sharks

In [14]:
all_game_events.shape

(264311, 9)

In [15]:
all_game_events['event'].value_counts()

Faceoff                     48837
Shot                        47658
Hit                         38783
Stoppage                    37823
Blocked Shot                22763
Missed Shot                 19533
Giveaway                    15234
Takeaway                    10618
Penalty                      6065
Goal                         5222
Period Official              2892
Period End                   2892
Period Start                 2040
Period Ready                 2019
Game End                      876
Game Official                 869
Official Challenge            108
Shootout Complete              75
Emergency Goaltender            2
Early Intermission Start        1
Early Intermission End          1
Name: event, dtype: int64

In [16]:
ice_tilt_events =['Faceoff','Shot','Hit','Missed Shot']

In [17]:
game_2 = all_game_events[all_game_events['game_id'] == 2020020002].copy()

In [18]:
game_2.head()

,event,team,x_coordinate,y_coordinate,period,period_time,game_id,score,home_team
289,Faceoff,Chicago Blackhawks,0.0,0.0,1,00:00,2020020002,NaN,Tampa Bay Lightning
290,Shot,Chicago Blackhawks,-65.0,-20.0,1,00:22,2020020002,NaN,Tampa Bay Lightning
291,Stoppage,NaN,NaN,NaN,1,00:23,2020020002,NaN,Tampa Bay Lightning
292,Stoppage,NaN,NaN,NaN,1,00:23,2020020002,NaN,Tampa Bay Lightning
293,Faceoff,Tampa Bay Lightning,-69.0,-22.0,1,00:23,2020020002,NaN,Tampa Bay Lightning

In [19]:
game_1 = all_game_events[all_game_events['game_id'] == 2020020001].copy()

In [20]:
game_1_faceoffs = game_1[game_1['event'] == 'Faceoff']

In [21]:
game_1_goals = game_1[game_1['event'] == 'Goal'].copy()

In [22]:
game_1_goals # will need to inverse all the second periods

,event,team,x_coordinate,y_coordinate,period,period_time,game_id,score,home_team
31,Goal,Pittsburgh Penguins,81.0,-5.0,1,05:12,2020020001,NaN,Philadelphia Flyers
73,Goal,Philadelphia Flyers,-79.0,-2.0,1,15:11,2020020001,NaN,Philadelphia Flyers
98,Goal,Philadelphia Flyers,-59.0,-4.0,1,19:52,2020020001,NaN,Philadelphia Flyers
121,Goal,Pittsburgh Penguins,-79.0,4.0,2,03:39,2020020001,NaN,Philadelphia Flyers
180,Goal,Philadelphia Flyers,83.0,-4.0,2,18:54,2020020001,NaN,Philadelphia Flyers
203,Goal,Pittsburgh Penguins,61.0,15.0,3,03:01,2020020001,NaN,Philadelphia Flyers
219,Goal,Philadelphia Flyers,-80.0,3.0,3,05:37,2020020001,NaN,Philadelphia Flyers
243,Goal,Philadelphia Flyers,-81.0,-1.0,3,12:14,2020020001,NaN,Philadelphia Flyers
246,Goal,Philadelphia Flyers,-79.0,-9.0,3,12:34,2020020001,NaN,Philadelphia Flyers

In [23]:
#https://datascience.stackexchange.com/questions/56668/pandas-change-value-of-a-column-based-another-column-condition
mask = game_1_goals['period'] == 2

In [24]:
game_1_goals['x_coordinate'][mask] = game_1_goals['x_coordinate']*-1

In [25]:
game_1_goals

,event,team,x_coordinate,y_coordinate,period,period_time,game_id,score,home_team
31,Goal,Pittsburgh Penguins,81.0,-5.0,1,05:12,2020020001,NaN,Philadelphia Flyers
73,Goal,Philadelphia Flyers,-79.0,-2.0,1,15:11,2020020001,NaN,Philadelphia Flyers
98,Goal,Philadelphia Flyers,-59.0,-4.0,1,19:52,2020020001,NaN,Philadelphia Flyers
121,Goal,Pittsburgh Penguins,79.0,4.0,2,03:39,2020020001,NaN,Philadelphia Flyers
180,Goal,Philadelphia Flyers,-83.0,-4.0,2,18:54,2020020001,NaN,Philadelphia Flyers
203,Goal,Pittsburgh Penguins,61.0,15.0,3,03:01,2020020001,NaN,Philadelphia Flyers
219,Goal,Philadelphia Flyers,-80.0,3.0,3,05:37,2020020001,NaN,Philadelphia Flyers
243,Goal,Philadelphia Flyers,-81.0,-1.0,3,12:14,2020020001,NaN,Philadelphia Flyers
246,Goal,Philadelphia Flyers,-79.0,-9.0,3,12:34,2020020001,NaN,Philadelphia Flyers

In [26]:
game_1_goals['x_coordinate'].sum()

-240.0

In [27]:
ice_tilt_events

['Faceoff', 'Shot', 'Hit', 'Missed Shot']

In [28]:
game_1_ice_tilt = game_1[(game_1['event'] == 'Faceoff') | (game_1['event'] == 'Shot') | (game_1['event'] == 'Hit') | (game_1['event'] == 'Missed Shot')]

In [29]:
game_1_ice_tilt['event'].value_counts()

Hit            54
Shot           52
Faceoff        50
Missed Shot    15
Name: event, dtype: int64

In [30]:
mask = (game_1_ice_tilt['period'] == 2)

In [31]:
game_1_ice_tilt['x_coordinate'][mask] = game_1_ice_tilt['x_coordinate'] * -1

In [32]:
game_1_ice_tilt['x_coordinate'].sum()

1058.0

In [33]:
game_id_list_single = []
for i in range(1,10):
    game_id_list_single.append(int(f'202002000{i}'))
for i in range(10,100):
    game_id_list_single.append(int(f'20200200{i}'))
for i in range(100,869):
    game_id_list_single.append(int(f'2020020{i}'))

In [34]:
def ice_tilt(game_ids):
    ice_tilt_list = []
    for i in game_ids:
        game_df = all_game_events[all_game_events['game_id'] == i].copy()
        game_ice_tilt = game_df[(game_df['event'] == 'Faceoff') | (game_df['event'] == 'Shot') | (game_df['event'] == 'Hit') | (game_df['event'] == 'Missed Shot')]                
        mask = (game_ice_tilt['period']==2)
        game_ice_tilt['x_coordinate'][mask] = game_ice_tilt['x_coordinate'] * -1
        tilt = game_ice_tilt['x_coordinate'].sum()
        ice_tilt_list.append(tilt)
    return ice_tilt_list

In [35]:
full_tilt = ice_tilt(game_id_list_single)

In [36]:
full_tilt[:10]

[1058.0,
 -89.0,
 -1328.0,
 -695.0,
 -405.0,
 -265.0,
 -756.0,
 931.0,
 -2993.0,
 2347.0]

In [37]:
model_2020.head()

,team,home_status,goals,shots,blocked_shots,penalty_minutes,power_play_percentage,power_play_goals,power_play_chances,faceoff_percent,takeaways,giveaways,hits,goal_diff,won,game_ids
0,Pittsburgh Penguins,away,3,34,11,6,33.3,1.0,3.0,42.0,8,10,23,-3,no,2020020001
1,Philadelphia Flyers,home,6,27,13,6,66.7,2.0,3.0,58.0,6,10,31,3,yes,2020020001
2,Chicago Blackhawks,away,1,23,7,8,33.3,1.0,3.0,49.1,4,1,14,-4,no,2020020002
3,Tampa Bay Lightning,home,5,33,12,6,50.0,2.0,4.0,50.9,4,1,16,4,yes,2020020002
4,Montréal Canadiens,away,4,32,22,13,66.7,2.0,3.0,46.0,6,13,32,-1,no,2020020003

In [38]:
model_2020[0:2]

,team,home_status,goals,shots,blocked_shots,penalty_minutes,power_play_percentage,power_play_goals,power_play_chances,faceoff_percent,takeaways,giveaways,hits,goal_diff,won,game_ids
0,Pittsburgh Penguins,away,3,34,11,6,33.3,1.0,3.0,42.0,8,10,23,-3,no,2020020001
1,Philadelphia Flyers,home,6,27,13,6,66.7,2.0,3.0,58.0,6,10,31,3,yes,2020020001

In [39]:
model_2020.shape

(1736, 16)

In [40]:
game_1_diff = model_2020.iloc[1][2:13] -  model_2020.iloc[0][2:13]

In [41]:
model_2020.iloc[1][13:].to_dict()

{'goal_diff': 3, 'won': 'yes', 'game_ids': 2020020001}

In [42]:
game_1_diff.to_dict()

{'goals': 3,
 'shots': -7,
 'blocked_shots': 2,
 'penalty_minutes': 0,
 'power_play_percentage': 33.400000000000006,
 'power_play_goals': 1.0,
 'power_play_chances': 0.0,
 'faceoff_percent': 16.0,
 'takeaways': -2,
 'giveaways': 0,
 'hits': 8}

In [43]:
pd.DataFrame(game_1_diff.to_dict(), index=[0])

,goals,shots,blocked_shots,penalty_minutes,power_play_percentage,power_play_goals,power_play_chances,faceoff_percent,takeaways,giveaways,hits
0,3,-7,2,0,33.4,1.0,0.0,16.0,-2,0,8

In [44]:
game_difference_df = pd.DataFrame()
a=0
for i in range(1,1736,2):
        game_info = model_2020.iloc[i][13:].to_dict()
        game_stats = model_2020.iloc[i][2:13] -  model_2020.iloc[i-1][2:13]
        game_info.update(game_stats.to_dict())
        temp_diff = pd.DataFrame(game_info, index=[a])
        game_difference_df = pd.concat([game_difference_df, temp_diff], axis=0, ignore_index=True)
        a += 1

In [45]:
game_difference_df

,goal_diff,won,game_ids,goals,shots,blocked_shots,penalty_minutes,power_play_percentage,power_play_goals,power_play_chances,faceoff_percent,takeaways,giveaways,hits
0,3,yes,2020020001,3,-7,2,0,33.4,1.0,0.0,16.0,-2,0,8
1,4,yes,2020020002,4,10,5,-2,16.7,1.0,1.0,1.8,0,0,2
2,1,yes,2020020003,1,2,-5,-2,-16.7,0.0,1.0,8.0,-1,-4,-18
3,-2,no,2020020004,-2,-4,3,-4,0.0,0.0,2.0,3.6,-1,4,-1
4,-3,no,2020020005,-3,-5,-8,-4,25.0,1.0,2.0,8.8,3,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,2,yes,2020020864,2,-16,2,0,0.0,0.0,0.0,-5.0,-3,0,-9
864,1,yes,2020020865,1,3,7,-6,25.0,1.0,3.0,-1.8,7,3,1
865,3,yes,2020020866,3,8,-1,-2,25.0,1.0,1.0,-14.2,0,-9,-17
866,-1,no,2020020867,-1,-12,-1,2,-33.3,-1.0,-1.0,15.6,-4,-2,-7
867,-1,no,2020020868,-1,16,-2,0,-50.0,-1.0,0.0,-3.2,1,3,-1

In [46]:
full_tilt = [-1 * x for x in full_tilt]

In [47]:
game_difference_df['ice_tilt'] = full_tilt

In [48]:
game_difference_df.head()

,goal_diff,won,game_ids,goals,shots,blocked_shots,penalty_minutes,power_play_percentage,power_play_goals,power_play_chances,faceoff_percent,takeaways,giveaways,hits,ice_tilt
0,3,yes,2020020001,3,-7,2,0,33.4,1.0,0.0,16.0,-2,0,8,-1058.0
1,4,yes,2020020002,4,10,5,-2,16.7,1.0,1.0,1.8,0,0,2,89.0
2,1,yes,2020020003,1,2,-5,-2,-16.7,0.0,1.0,8.0,-1,-4,-18,1328.0
3,-2,no,2020020004,-2,-4,3,-4,0.0,0.0,2.0,3.6,-1,4,-1,695.0
4,-3,no,2020020005,-3,-5,-8,-4,25.0,1.0,2.0,8.8,3,5,1,405.0

In [49]:
#game_difference_df.to_csv('./data_frames/game_stats_differences_2020.csv', index=False)

In [50]:
game_difference_df['won'].value_counts()

no     436
yes    432
Name: won, dtype: int64

multiple model approach DFs

In [51]:
all_game_events

,event,team,x_coordinate,y_coordinate,period,period_time,game_id,score,home_team
0,Faceoff,Pittsburgh Penguins,0.0,0.0,1,00:00,2020020001,NaN,Philadelphia Flyers
1,Shot,Philadelphia Flyers,-74.0,29.0,1,00:16,2020020001,NaN,Philadelphia Flyers
2,Takeaway,Philadelphia Flyers,-39.0,-36.0,1,00:23,2020020001,NaN,Philadelphia Flyers
3,Blocked Shot,Pittsburgh Penguins,-58.0,-7.0,1,00:28,2020020001,NaN,Philadelphia Flyers
4,Shot,Pittsburgh Penguins,49.0,-25.0,1,00:34,2020020001,NaN,Philadelphia Flyers
...,...,...,...,...,...,...,...,...,...
264306,Goal,Arizona Coyotes,76.0,-15.0,4,02:30,2020020868,NaN,San Jose Sharks
264307,Period End,NaN,NaN,NaN,4,02:30,2020020868,NaN,San Jose Sharks
264308,Period Official,NaN,NaN,NaN,4,02:30,2020020868,NaN,San Jose Sharks
264309,Game End,NaN,NaN,NaN,4,02:30,2020020868,NaN,San Jose Sharks
264310,Game Official,NaN,NaN,NaN,4,02:30,2020020868,NaN,San Jose Sharks

In [52]:
game_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 289 entries, 0 to 288
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   event         289 non-null    object
 1   team          244 non-null    object
 2   x_coordinate  244 non-null    float64
 3   y_coordinate  244 non-null    float64
 4   period        289 non-null    int64
 5   period_time   289 non-null    object
 6   game_id       289 non-null    int64
 7   score         0 non-null      float64
 8   home_team     289 non-null    object
dtypes: float64(3), int64(2), object(4)
memory usage: 22.6+ KB

In [53]:
game_1['event'].value_counts()

Hit                54
Shot               52
Faceoff            50
Stoppage           33
Blocked Shot       24
Giveaway           20
Missed Shot        15
Takeaway           14
Goal                9
Penalty             6
Period Official     3
Period End          3
Period Start        2
Period Ready        2
Game Official       1
Game End            1
Name: event, dtype: int64

In [54]:
def time_to_int(column):
    output_list = []
    for i in [x for x in column]:
        numeric_time = []
        for digit in i:
            if digit != ":":
                numeric_time.append((digit))
            if len(numeric_time) == 4:
                numeric_time = "".join(numeric_time)
                int(numeric_time)
        output_list.append(numeric_time)
    return output_list

In [55]:
time_to_int(game_1['period_time'])

['0000',
 '0016',
 '0023',
 '0028',
 '0034',
 '0051',
 '0103',
 '0105',
 '0105',
 '0105',
 '0114',
 '0117',
 '0117',
 '0129',
 '0131',
 '0141',
 '0150',
 '0209',
 '0209',
 '0251',
 '0251',
 '0251',
 '0329',
 '0343',
 '0344',
 '0346',
 '0405',
 '0430',
 '0430',
 '0439',
 '0454',
 '0512',
 '0512',
 '0512',
 '0532',
 '0544',
 '0544',
 '0601',
 '0615',
 '0615',
 '0638',
 '0717',
 '0720',
 '0720',
 '0720',
 '0811',
 '0815',
 '0825',
 '0903',
 '0908',
 '0913',
 '0913',
 '0934',
 '1000',
 '1033',
 '1121',
 '1121',
 '1135',
 '1139',
 '1145',
 '1147',
 '1223',
 '1237',
 '1240',
 '1309',
 '1333',
 '1346',
 '1347',
 '1347',
 '1354',
 '1411',
 '1416',
 '1443',
 '1511',
 '1511',
 '1542',
 '1542',
 '1542',
 '1547',
 '1559',
 '1606',
 '1627',
 '1633',
 '1658',
 '1702',
 '1719',
 '1719',
 '1719',
 '1807',
 '1820',
 '1824',
 '1830',
 '1847',
 '1847',
 '1847',
 '1919',
 '1944',
 '1944',
 '1952',
 '1952',
 '1958',
 '1958',
 '2000',
 '2000',
 '0000',
 '0000',
 '0000',
 '0023',
 '0023',
 '0039',
 '0052',
 '0052',
 '0108',
 '0111',
 '0111',
 '0117',
 '0151',
 '0152',
 '0152',
 '0207',
 '0338',
 '0339',
 '0339',
 '0345',
 '0444',
 '0448',
 '0453',
 '0501',
 '0554',
 '0556',
 '0604',
 '0606',
 '0639',
 '0704',
 '0704',
 '0723',
 '0723',
 '0746',
 '0753',
 '0838',
 '0846',
 '0906',
 '0911',
 '0924',
 '0926',
 '0926',
 '0926',
 '0944',
 '1004',
 '1012',
 '1111',
 '1156',
 '1305',
 '1307',
 '1311',
 '1349',
 '1419',
 '1427',
 '1427',
 '1427',
 '1446',
 '1446',
 '1446',
 '1458',
 '1458',
 '1509',
 '1515',
 '1515',
 '1515',
 '1526',
 '1533',
 '1535',
 '1619',
 '1646',
 '1657',
 '1715',
 '1723',
 '1839',
 '1839',
 '1850',
 '1854',
 '1854',
 '1908',
 '1927',
 '1951',
 '1956',
 '2000',
 '2000',
 '0000',
 '0000',
 '0000',
 '0030',
 '0039',
 '0039',
 '0044',
 '0105',
 '0144',
 '0149',
 '0208',
 '0226',
 '0226',
 '0226',
 '0251',
 '0301',
 '0301',
 '0332',
 '0400',
 '0418',
 '0418',
 '0418',
 '0431',
 '0443',
 '0453',
 '0502',
 '0513',
 '0516',
 '0525',
 '0525',
 '0525',
 '0537',
 '0537',
 '0550',
 '0551',
 '0551',
 '0605',
 '0616',
 '0616',
 '0625',
 '0643',
 '0700',
 '0712',
 '0718',
 '0755',
 '0802',
 '0828',
 '0917',
 '0935',
 '1020',
 '1110',
 '1110',
 '1119',
 '1141',
 '1213',
 '1214',
 '1214',
 '1233',
 '1234',
 '1234',
 '1249',
 '1304',
 '1304',
 '1311',
 '1323',
 '1403',
 '1427',
 '1433',
 '1436',
 '1444',
 '1506',
 '1518',
 '1523',
 '1531',
 '1554',
 '1558',
 '1558',
 '1646',
 '1717',
 '1717',
 '1725',
 '1737',
 '1745',
 '1749',
 '1749',
 '1749',
 '1811',
 '1820',
 '1835',
 '1845',
 '1856',
 '1859',
 '1907',
 '1910',
 '1930',
 '1935',
 '1940',
 '2000',
 '2000',
 '2000',
 '2000']

In [56]:
game_1['period_time_int'] = [int(x) for x in time_to_int(game_1['period_time'])]

In [57]:
def period_time_to_full_time(df):
    first_period = df[df['period'] == 1]
    second_period = df[df['period'] == 2]
    third_period = df[df['period'] == 3]
    second_period['period_time_int'] = second_period['period_time_int'] + 2000
    third_period['period_time_int'] = third_period['period_time_int'] + 4000
    output_df = pd.concat([first_period,second_period], axis=0, ignore_index=True)
    output_df = pd.concat([output_df,third_period], axis=0, ignore_index=True)
    return output_df

In [74]:
game_1 = period_time_to_full_time(game_1)

In [75]:
game_1['period_time_int']

0         0
1        16
2        23
3        28
4        34
       ...
284    5940
285    6000
286    6000
287    6000
288    6000
Name: period_time_int, Length: 289, dtype: int64

In [76]:
game_1_first_2 = game_1[(game_1['period_time_int'] < 200) & (game_1['period'] == 1)]

In [77]:
game_1_first_2_home = game_1_first_2[game_1_first_2['team'] == game_1_first_2['home_team']]

In [78]:
game_1_first_2_home

,event,team,x_coordinate,y_coordinate,period,period_time,game_id,score,home_team,period_time_int
1,Shot,Philadelphia Flyers,-74.0,29.0,1,00:16,2020020001,NaN,Philadelphia Flyers,16
2,Takeaway,Philadelphia Flyers,-39.0,-36.0,1,00:23,2020020001,NaN,Philadelphia Flyers,23
5,Hit,Philadelphia Flyers,-96.0,-24.0,1,00:51,2020020001,NaN,Philadelphia Flyers,51
6,Hit,Philadelphia Flyers,-87.0,-33.0,1,01:03,2020020001,NaN,Philadelphia Flyers,103
7,Shot,Philadelphia Flyers,-52.0,-31.0,1,01:05,2020020001,NaN,Philadelphia Flyers,105
9,Faceoff,Philadelphia Flyers,-69.0,-22.0,1,01:05,2020020001,NaN,Philadelphia Flyers,105
10,Hit,Philadelphia Flyers,-75.0,-30.0,1,01:14,2020020001,NaN,Philadelphia Flyers,114
12,Faceoff,Philadelphia Flyers,-69.0,22.0,1,01:17,2020020001,NaN,Philadelphia Flyers,117
13,Blocked Shot,Philadelphia Flyers,54.0,-16.0,1,01:29,2020020001,NaN,Philadelphia Flyers,129
14,Hit,Philadelphia Flyers,93.0,-23.0,1,01:31,2020020001,NaN,Philadelphia Flyers,131
15,Blocked Shot,Philadelphia Flyers,49.0,-25.0,1,01:41,2020020001,NaN,Philadelphia Flyers,141

In [79]:
game_1_first_2_home

,event,team,x_coordinate,y_coordinate,period,period_time,game_id,score,home_team,period_time_int
1,Shot,Philadelphia Flyers,-74.0,29.0,1,00:16,2020020001,NaN,Philadelphia Flyers,16
2,Takeaway,Philadelphia Flyers,-39.0,-36.0,1,00:23,2020020001,NaN,Philadelphia Flyers,23
5,Hit,Philadelphia Flyers,-96.0,-24.0,1,00:51,2020020001,NaN,Philadelphia Flyers,51
6,Hit,Philadelphia Flyers,-87.0,-33.0,1,01:03,2020020001,NaN,Philadelphia Flyers,103
7,Shot,Philadelphia Flyers,-52.0,-31.0,1,01:05,2020020001,NaN,Philadelphia Flyers,105
9,Faceoff,Philadelphia Flyers,-69.0,-22.0,1,01:05,2020020001,NaN,Philadelphia Flyers,105
10,Hit,Philadelphia Flyers,-75.0,-30.0,1,01:14,2020020001,NaN,Philadelphia Flyers,114
12,Faceoff,Philadelphia Flyers,-69.0,22.0,1,01:17,2020020001,NaN,Philadelphia Flyers,117
13,Blocked Shot,Philadelphia Flyers,54.0,-16.0,1,01:29,2020020001,NaN,Philadelphia Flyers,129
14,Hit,Philadelphia Flyers,93.0,-23.0,1,01:31,2020020001,NaN,Philadelphia Flyers,131
15,Blocked Shot,Philadelphia Flyers,49.0,-25.0,1,01:41,2020020001,NaN,Philadelphia Flyers,141

In [80]:
game_1_first_2_home.groupby('event').count()['team'].to_dict()

{'Blocked Shot': 2, 'Faceoff': 2, 'Hit': 4, 'Shot': 2, 'Takeaway': 1}

In [81]:
game_1_first_2_home.groupby('event')['x_coordinate'].sum().sum()

-365.0

In [82]:
game_1_first_2.groupby('event').sum()

,x_coordinate,y_coordinate,period,game_id,score,period_time_int
event,,,,,,
Blocked Shot,45.0,-48.0,3,6060060003,0.0,298
Faceoff,-138.0,0.0,3,6060060003,0.0,222
Hit,-78.0,-78.0,5,10100100005,0.0,549
Shot,-77.0,-27.0,3,6060060003,0.0,155
Stoppage,0.0,0.0,2,4040040002,0.0,222
Takeaway,-39.0,-36.0,1,2020020001,0.0,23

In [86]:
def minutes_into_game_df(df, minute_interval = 200):
            events = df[df['period_time_int'] <= minute_interval]
            events_home = events[events['team'] == events['home_team']]
            events_home_dict = events_home.groupby('event').count()['team'].to_dict()
            ice_tilt_minutes = events_home.groupby('event')['x_coordinate'].sum().sum()
            base_dic_home = {
            'Goals':0, 'Shots':0, 'Blocked Shots': 0,
            'Faceoff':0 , 'takeaways':0, 'giveaways': 0,
            'hits': 0, 'Missed Shot':0, 'Penalty': 0, 'Stoppage':0
            }
            base_dic_home.update(events_home_dict)
            print(events_home_dict)
            return base_dic_home

In [88]:
minutes_into_game_df(game_1)

{'Blocked Shot': 2, 'Faceoff': 2, 'Hit': 4, 'Shot': 2, 'Takeaway': 1}

{'Goals': 0,
 'Shots': 0,
 'Blocked Shots': 0,
 'Faceoff': 2,
 'takeaways': 0,
 'giveaways': 0,
 'hits': 0,
 'Missed Shot': 0,
 'Penalty': 0,
 'Stoppage': 0,
 'Blocked Shot': 2,
 'Hit': 4,
 'Shot': 2,
 'Takeaway': 1}

In [ ]:
game_difference_df

In [ ]:
model_2020[0:2]

In [ ]:
base_dic = {
    'goals':0, 'shots':0, 'blocked_shots': 0,'penalty_minutes':0, 'power_play_percentage':0,
    'power_play_goals':0,'power_play_chances':0,'faceoff_percent':0, 'takeaways':0, 'giveaways': 0,
    'hits': 0
}